<!DOCTYPE html>
<html lang="en"  dir="1tr">
<head>
    <meta charset="UTF-8">
    <title>Students-Data</title>
</head>
<body>
    <h1>StudentDB-Project with StudentDB-App...</h1>
    <hr />
    {% if studentlist %}
         <table border="1" margin="auto">
             <caption>Student-Table-Details</caption>
             <thead>
             <th>Names</th>
             <th>Marks</th/
             </thead>>
             <tbody>
                 {% for stud in studentlist %}
                     <tr>
                         <td>{{ stud.name }}</td>
                         <td>{{ stud.marks }}</td>
                     <tr>
                 {% endfor %}
             <</tbody>
         </table>
    {% else %}
        <p>No Students Records found...</p>
    {% endif %}
</body>
</html>


